@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.sign{
    float: right;
    width: 651px;
    height: 700px;
    overflow-y: hidden;
    
    
}

.heading{
    text-align: center;
    margin-bottom: 40px; 
    margin-top: 70px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;

}


.label{
    font-family:  'Abyssinica SIL', serif;
    font-size: 20px;
    margin-left: 80px;


}


.input{
    width: 500px;
    border-radius: 4px;
    height: 35px;
    background-color: rgb(215, 211, 211);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 80px;
    border: none;
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;


}

.button{
    text-align: center;
    border: none;
    margin-left: 210px;
    margin-top: 60px;
    height: 40px;
    width: 200px;
    background-color: navy;
    color: white;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;


}

.button:hover{
    background-color: gold;
    transition: 0.4s;
}

.image{
    display: inline-flex;
    border-radius: 4px;
}

.link-sign{
    margin-left: 270px;
    margin-top: 25px;
    text-decoration: none;
}

.link-underline{
    text-decoration: none;
}

.link-underline:hover{
color: red;
transition: 0.4s;
}



/* LOGIN PAGE */

.log{
    float: right;
    width: 700px;
    height: 695px;
    
}

.Head{
    text-align: center;
    margin-bottom: 130px; 
    margin-top: 60px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    

}



.label-log{
    font-family: 'Abyssinica SIL', serif;
    font-size: 20px;
    margin-left: 130px;
}

.input-log{
    margin: 20px;
    width: 500px;
    height: 35px;
    border: none;
    background-color: rgb(193, 185, 185);
    margin-left: 130px;
    border-radius: 4px;



}

.button-log{
    border: none;
    background-color: #081740;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    color: white;
    margin-left: 260px;
    margin-top: 120px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;


}


.link-log{
    text-decoration: none;
    margin-left: 300px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif ;
   
}

.button-log:hover{
    background-color: gold;
    transition: 0.4s;
}

.log-img{
    border-radius: 6px;
}



.link-log-underline{
    text-decoration: none;
    
}

.link-log-underline:hover{
    color: red;
    transition: 0.4s;
}

/* NAV BAR */

.nav{
    background-color: #081740;
}

.nav-link{
    float: right;
    display: flex;
    gap: 0px;
    margin: 30px;
    font-family: 'Abyssinica SIL', serif;
    font-size: 20px;
    margin-right: 50px;
    


}
.li-link{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 109px;
}

.li-link:hover{
    text-decoration: underline;

}

.icon{
    margin-right: 0px;
    color: white;
}


/* Card segment */
.card{
    width: 280px;
    height: 290px;
    margin: 20px;
    margin-left: 120px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Adjust shadow as needed */   
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.img-card{
    border: 1px black solid;
    height: 180px;
    width: 280px;
    border-radius: 4px;

}

.card-title{
    margin-left:12px;
    font-family: 'Abyssinica SIL', serif;
    
}

.star-card{
    
   margin-left: 240px;
   margin-top: 10px;
  color: grey;
  
   
}

.card-details{
    margin-bottom: 20px;
    margin-left:12px;
    font-family:'Abyssinica SIL', serif ;


}


