@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.sign{
    float: right;
    width: 651px;
    height: 700px;
    overflow-y: hidden;
    
    
}

.heading{
    text-align: center;
    margin-bottom: 40px; 
    margin-top: 70px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;

}


.label{
    font-family:  'Abyssinica SIL', serif;
    font-size: 20px;
    margin-left: 80px;


}


.input{
    width: 500px;
    border-radius: 4px;
    height: 35px;
    background-color: rgb(215, 211, 211);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 80px;
    border: none;
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;


}

.button{
    text-align: center;
    border: none;
    margin-left: 210px;
    margin-top: 60px;
    height: 40px;
    width: 200px;
    background-color: navy;
    color: white;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;


}

.button:hover{
    background-color: gold;
    transition: 0.4s;
}

.image{
    display: inline-flex;
    border-radius: 4px;
}

.link-sign{
    margin-left: 270px;
    margin-top: 25px;
    text-decoration: none;
}

.link-underline{
    text-decoration: none;
}

.link-underline:hover{
color: red;
transition: 0.4s;
}



/* LOGIN PAGE */

.log{
    float: right;
    width: 700px;
    height: 695px;
    
}

.Head{
    text-align: center;
    margin-bottom: 130px; 
    margin-top: 60px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    

}



.label-log{
    font-family: 'Abyssinica SIL', serif;
    font-size: 20px;
    margin-left: 130px;
}

.input-log{
    margin: 20px;
    width: 500px;
    height: 35px;
    border: none;
    background-color: rgb(193, 185, 185);
    margin-left: 130px;
    border-radius: 4px;



}

.button-log{
    border: none;
    background-color: navy;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    color: white;
    margin-left: 260px;
    margin-top: 120px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;


}


.link-log{
    text-decoration: none;
    margin-left: 300px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif ;
   
}

.button-log:hover{
    background-color: gold;
    transition: 0.4s;
}

.log-img{
    border-radius: 6px;
}



.link-log-underline{
    text-decoration: none;
    
}

.link-log-underline:hover{
    color: red;
    transition: 0.4s;
}